.rx-figures-table table {
    width:100%;
    text-align:center;
    margin-top:20px;
}

.rxFigures-th {
    font-size: 0.9rem;
}

.th-date {
    width:10%;
}

th {
    padding-bottom: 20px;
}


td {
    font-size: 0.9em;
    padding-bottom: 10px;
}